<div class="main_container">
	<div class="main_wrapper">
	  <div class="login_wrapper">
	    <div class="logo_wrapper">
             <img src= "{{ login_logo_path }}" />
	    </div>
	    <div class="login_content">
	      <!-- <div class="label">email</div> -->
	      <div class="field">
	        {{ form.name }}
	        {{ form.pass }}
	        {{ form.persistent_login }}
	        {{ form.my_captcha_element }}
	      </div>
	      <div class="btn">{{ form.actions }}</div>
	    </div>
	  </div>
	</div>
</div>
{{ form.form_build_id }} {# required #}
{{ form.form_token }}{# required #}
{{ form.form_id }} {# required #}
