<div class="overlay"></div>
<div class="copy_skill_wrapper">
    <div class="content">
        <div class="content_row">
			<!-- <div class="label"></div>
			<div class="select_area"></div> -->
			{{ form.status_messages }}
			{{ form.cat_id }}
			{{ form.skill_id }}
			{{ form.role }}
			{{ form.category }}
			{{ form.skill }}
	</div>
	<div class="btn_wrapper">{{ form.actions }}</div>
    </div>
</div>
{{ form.form_build_id }} {# required #}
{{ form.form_token }}{# required #}
{{ form.form_id }} {# required #}
